{% load static %}
<!DOCTYPE html>
<html lang="en">
<script type = "text/javascript" >
    function preventBack(){window.history.forward();}
        setTimeout("preventBack()", 0);
        window.onunload=function(){null};
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sistema Imuniza Login</title>
    <link rel="icon" type="image/x-icon" href="{% static 'users/feet.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Trirong|Roboto">
</head>
<body>
    <div class="avatar">
        <img src="{% static 'users/run_splash.jpg' %}" alt="Marathon Winner" style="max-width: 100%;">
        <span class="solid_color"></span>
    </div>
    <h1>Sistema Imuniza</h1>
    <p>Bem Vindo</p>
</body>
</html>