{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sistema Imuniza Verificação</title>
    <link rel="icon" type="image/x-icon" href="{% static 'users/feet.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/vacinas.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Trirong|Roboto">
</head>
<body>
    <div class="avatar">
        <span class="solid_color"></span>
    </div>
    <h1>Sistema Imuniza</h1>
    <a href="{% url 'schedule' %}">Agendar</a>
    <table>
        <tr> 
            <th>Vacinas Dísponiveis</th>
            <th>Doses Restantes</th> 
        </tr>
            {% for row0 in tablee %} 
        <tr>                        
            <td>{{ row0.0 }}</td>
            <td>{{ row0.1 }}</td>
                {% endfor %}
        </tr>
</table>
</body>
</html>