* {
  margin: 0;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
h1 {
  color: #11adf1;
  font-size: 35px;
  font-family: Audiowide, Arial;
  position: relative;
  bottom: 25rem;
  left: 1rem;
}
a {
  color: #11f12c;
  font-family: Audiowide, Arial;
  font-size: 25px;
  position: fixed;
  bottom: 34rem;
  left: 1rem;
}
input {
  font-size: 1.2rem;
  font-family: Arial;
  border-radius: 0.2rem;
  padding: 1.5rem 2rem;
  width: 20%;
  border: none;
  display: block;
  position: relative;
  left: 11rem;
  bottom: 24rem;
}
  .avatar {
    width: 25rem;
    height: 25rem;
    position: relative;
    left: 55rem;
    bottom: -10rem;
    font-size: 0.5rem;
    margin: 0%;
  }
.solid_color {
  background-color: aquamarine;
  padding: 39rem;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  position: absolute;right: 20rem;top: -25rem;
  padding-bottom: 20rem;
}
 th,td {
    font-size: 30px;
    text-align: center;
    color: #11adf1;
    width: 30%;
    border: 1px solid #11f12c;
    padding: 10px;
    position: relative;
    left: 23rem;
    bottom: 27rem;
 }

 #data {
    margin-bottom: 10px;
 }

 #data input, button {
    padding: 10px;
    width: 90px;
 }
